body {
    background-color: #1976d2;
    /* background-color: #ffe57f */
    /* background-image:url(http://www.zingerbugimages.com/backgrounds/deep_blue_sky_background_with_clouds_1800x1600.jpg) */
  }

.tiedye {
    /* background-image:url(http://www.zingerbugimages.com/backgrounds/sky_blue_tie_dye_seamless.jpg) */
    background-color: #ff6e40
}

.forecastMargin {
  margin: 12px;
  font-size: 1rem;
}

.searchHistory {
  font-size: 1.3rem;
  margin-left: 10px;
  color: black;
}

#forecasts {
  display: flex;
  justify-content: space-evenly;
  margin-left: 0;
  /* margin-right: 1rem; */
}
