body {
    background-color: lightblue;
    /* background-color: #ffe57f */
    /* background-image:url(http://www.zingerbugimages.com/backgrounds/deep_blue_sky_background_with_clouds_1800x1600.jpg) */
  }

.forecastMargin {
  margin: 12px;
  font-size: 1rem;
  background-color: darkgray;
}

.historyDiv {
  margin: 0 !important;
  background-color: darkgray;
}

.searchHistory {
  font-size: 1.3rem;
  color: black;
}

#forecasts {
  display: flex;
  justify-content: space-around;
  /* margin-left: 0;
  margin-right: 0; */
}

.boxes {
  background-color: darkgray;
  margin-top: 1rem;
  padding: 1rem;
  /* padding-top: 1rem; */
  border: black
}
/* .boxesForecast {
  background-color: darkgray;
  border: black;
  padding: 1rem;
} */

